.events {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    row-gap: 2rem;
    column-gap: 2rem; 
}

.header {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}