.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
.events {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0.5fr));
    row-gap: 2rem;
    column-gap: 2rem; 
    justify-content: center;
    max-width: 90%;
    text-align: center;
}

.header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}

.title {
    font-size: 3rem;
}

.event_type {
    margin-top: 1rem;
    border: 2px solid;
    border-radius: 4px;
}

.event_select {
    width: 100%;
    text-align: center;
}