.team {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  max-width: 90%;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 17%; /* Adjust the left margin */
  margin-right: 17%; /* Adjust the right margin */
}
    
  .card {
    text-align: center;
  }

  .cardOutline {
    border: 2px solid #f9a857;
    padding: 16px;
    border-radius: 10px;
    height: 100%;
  }

  .card h4 {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 0.25rem;
  }
  
  .icons svg {
    fill: #f9a857;
  }
  
  .card img {
    border-radius: 50%;
  }

  @media screen and (max-width: 810px) {
    .team {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.3rem; 
    }
  }
  @media screen and (max-width: 600px) {
    .team {
      grid-template-columns: 50%;
      gap: 0.3rem; 
    }
  }
  