.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  max-width: 80%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 325px;
  min-height: 100%;
  padding: 1rem 1.5rem;
  border: 2px solid #f9a857;
  border-radius: 10px;
}

.card h4 {
  margin-top: 1rem;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.25rem;
}

.icons svg {
  fill: #f9a857;
}

.imageCropper {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.cardImage {
  min-width: 100%;
}