/* Landing Card Background */
.hero {
    background-color: #f9a857;
    color: white;
    overflow: hidden;
}

.backdrop {
    display: flex;
    align-items: center;
    text-align: center;
    height: 37em;
    max-height: 75vh;
}

/* Landing Card Icons */

.backdrop_left {
    z-index: 0;
    max-width: 35%;
    margin-top: 5em;
}

.backdrop_right {
    z-index: 0;
    max-width: 25%;
}

/* Landing Card Text */

.landing_text {
    z-index: 1;
    flex-grow: 1;
    margin-left: 3em;
    padding: 1em;
}

.landing_title {
    font-weight: 900;
    font-size: 5em;
}

/* Landing Card Scroll Down */

.arrow {
    z-index: 2;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.arrow:hover {
    opacity: 85%;
    cursor: pointer;
}

/* Font size and layout for mobile*/

@media screen and (max-width: 768px) {
    .hero {
        font-size: 4px;
    }
    .backdrop {
        max-height: 25vh;
    }
}

/* Font size and layout for tablet*/

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .hero {
        font-size: 10px;
    }
    .backdrop {
        max-height: 60vh;
    }
}
