.team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-height: 100vh;
    border-bottom: 1px solid black;
}

.h1 {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

