.container {
    margin-bottom: 2rem;
}
.team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-height: 100vh;
}

.h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

