.about {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 80px;
  }
  
.title {
  font-size: 3.5rem;
  font-weight: 700;
  /* margin-bottom: 10px; */
}
  
.main, .hackschool, .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.mainImage, .hackschoolImage, .projectImage {
  padding: 20px; 
  gap: 0.5rem;
  margin: auto;
}

.mainImage, .hackschoolImage, .projectImage {
  border-radius: 50px;
  max-width: 100%;
  height: auto; 
}

.main_desc, .projects_desc, .hackschool_desc {
  font-size: 1.15rem;
}


