.about {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 80px;
  }
  
.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
  
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.hackschool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.mainImage, .hackschoolImage, .projectImage {
  height: auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: inline-block;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_desc, .projects_desc, .hackschool_desc {
  font-size: large;
}


