.navbar {
  width: 100%;
  padding: 0.5rem 2rem; /* Adjust padding as needed */
  border-top: 3px solid transparent; /* Placeholder for gradient */
  border-bottom: 3px solid hsl(var(--nextra-primary-hue)); /* Placeholder for gradient */
  margin-bottom: 0.5rem;
}

.navbarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logoText {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.navLinks {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-left: 2rem; /* Adjust spacing between links */
}

.navLinks a {
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #007bff; /* Example hover color */
}

.loginButton {
  background-color: #333; /* Dark background like the image */
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #555; /* Slightly lighter on hover */
}
